*{
  font-family: 'Raleway', sans-serif;
}
a{
  text-decoration: none;
}
body{
  margin: 0;
}
/*For test purposes*/
/*affects screens less than 1024px*/
@media screen and (max-width: 1024px) {
  .navbar{
    top: 0;
    z-index: 10;
    position: fixed;
    display: block;
    width: 100%;
    height: 80px;
  }
  .logo{
    float: left;
    margin: 10px;
  }
  .logoo{
    margin: 10px;
  }
  .nav{
    display: none;
  }
  .menu_icon{
    border: 1px solid white;
    position: absolute;
    right: 0;
    float: right;
    margin: 10px;
    cursor: pointer;
  }
  .bmenu_icon{
    border: 1px solid black;
    position: absolute;
    right: 0;
    float: right;
    margin: 10px;
    cursor: pointer;
  }
  .bbars{
    height: 5px;
    width: 50px;
    margin: 10px;
    background: black;
  }
  .bars{
    height: 5px;
    width: 50px;
    margin: 10px;
    background: white;
  }
  .menu{
    width: 200px;
    padding: 20px 40px;;
  }
  #menu{
  }
  .vnav a{
    color: black;
    text-transform: uppercase;
    font-size: 20px;
  }
  .bvnav a{
    color: #f0f0f0;
    text-transform: uppercase;
    font-size: 20px;
  }
  .bvnav a:hover, .vnav a:hover{
    font-weight: bold;
  }
  .bvnav a:hover{
    color: #ffbd17;
  }

  .row2{
    background: #e3e3e3;
    padding: 50px 100px;
  }

  .lower{
    font-size: 20px;
  }

  /*The about page*/
  .paraa{
    font-size: 50px;
    padding: 0 0 0 100px;
  }
  .parab{
    font-size: 50px;
    color: #ffbd17;
    font-weight: bold;
  }
  /*end about*/

  .svchead{
    font-size: 40px;
    font-weight: bold;
  }
  .svcs{
  font-size: 20px;
  }
  .cell2, .cell3, .cell4{
    height: 200px;
    overflow: hidden;
    padding: 0 20px;
  }
  .cellhead{
    font-size: 25px;
    font-weight: bold;
  }
  .cellpara{
    line-height: 21px;
  }
  .cell2{
    color: white;
      width: 30%;
      background: #383838;
  }
  .cell3{
    color: white;
      width: 30%;
      background: black;
  }
  .cell4{
    color: white;
    width: 30%;
    background: #212121;
  }
  .celll{
    width: 30%;
    text-align: left;
      padding: 20px 50px;
  }
  .cellc{
      width: 30%;
    text-align: center;
      padding: 20px 50px;
  }
  .cellr{
      width: 30%;
    text-align: right;
      padding: 20px 50px;
  }
  .cell21, .cell31, .cell41{
      width: 30%;
      padding: 20px 50px;
  }

  /*About page*/
  .sectiona{
      position: relative;
      width: 100%;
      height: 400px;
  }
  .paraa{
    font-size: 100px;
    padding: 0 0 0 100px;
  }
  .parab{
    font-size: 100px;
    color: #ffbd17;
    font-weight: bold;
  }

  .abtGrt{
    position: relative;
    left: 100px;
    top: 180px;
    width: 150px;
    height: 150px;
    transform: rotate(180deg);
  }
  .sectionb{
    margin-top: -100px;
    padding: 0 100px;
    font-size: 20px;
    line-height: 30px;
  }
  .sectionb p{
    text-align: left;
  }
  .sectionb img{
    width: 150px;
    height: 150px;
  }
  .unbold{
    margin-top: -80px;
    font-size: 80px;
  }
  .bold{
    margin-top: -100px;
    font-size: 80px;
    font-weight: bold;
  }
  .daymnd{
    position: relative;
    left: 100px;
    top: 50px;
    width: 150px;
    height: 150px;
  }
  .blacker{
    position: absolute;
    right: 0;
    width: 100px;
  }
  .hbr{
    position: relative;
    right: 320px;
    top: -130px;
    background: black;
    color: #ffbd17;
    width: 420px;
    text-align: center;
    z-index: 2;
  }
  .vbr{
    transform: rotate(-90deg);
    transform-origin: top left 0;
    background: black;
    color: #ffbd17;
    width: 350px;
    position: relative;
    text-align: center;
    top: 200px;
    right: 0px;
  }
  .rowa{
    margin-top: 50px;
    display: flex;
    height: 350px;
  }
  .tablerow{
    table-layout: fixed;
    width: 100%;
  }
  td{
    width: 25%;
  }
  .colb{
  }
  .circlea{
    display: flex;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #ffbd17;
    text-align: center;
  }
  .colc{
    position: absolute;
    width: 0;
  }
  .vbnd{
    background: black;
    color: white;
    transform: rotate(270deg);
    transform-origin: right bottom 0;
    position: relative;
    width: 300px;
    text-align: center;
    bottom: 120px;
    right: 120px;
  }
  .hbnd{
    position: relative;
    bottom: -150px;
    right: 117px;
    width: 360px;
    background: black;
    color: white;
    text-align: center;
  }
  #lastCell{
    vertical-align: top;
  }
  .cellmid{
    position: relative;
    margin-top: -50px;
    width: 0;
    right: 5%;
  }
  .cellmid img{
    position: relative;
    width: 150px;
    height: 150px;
    filter: invert(86%) sepia(16%) saturate(7083%) hue-rotate(345deg) brightness(106%) contrast(101%);
  }
  .rowfst, .onerow, .tworow{
    display: flex;
  }
  .dwn{
  width: 150px;
  position: relative;
  right: -180px;
  transform: rotate(45deg);
    }
    .greetxt{
      margin-left: -200px;
    }
    .imgHolder{
      vertical-align: bottom;
      width: 45%;
    }
    .sectionscnd{
      margin-top: -7px;
    }
    /*services page*/
    .toplow{
      font-size: 20px;
      color: white;
      line-height: 25px;
      margin: -20px 40px 0 40px;
    }
    .headerholder{
      padding-left: 50px;
    }
    .header{
      background: black;
      color: white;
        text-align: center;
        display: flex;
        padding-right: 50px;
        font-size: 13px;
    }
    .header span{
      width: 20%;
    }
    .contents{
      display: flex;
      color: black;
      font-size: 13px;
      margin: 10px 50px;
      justify-content: center;
    }
    .contentCell{
      text-align: center;
      width: 20%;
      line-height: 30px;
    }
    /*From the Services page - END*/

}

/*affects screens more than 1024px*/
@media screen and (min-width: 1025px) {
  .navbar{
    position: fixed;
    width: 100%;
    min-width: 1185px;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    z-index: 10;
    justify-content: center;
  }
  .menu_icon{
    display: none;
  }
  .row2{
    background: #e3e3e3;
    padding: 50px 200px;
  }
  .lower{
    font-size: 20px;
    padding: 0 40px 0 40px;
  }

  .cell2{
    color: white;
      width: 30%;
      background: #383838;
  }
  .cell3{
    color: white;
      width: 30%;
      background: black;
  }
  .cell4{
    color: white;
    width: 30%;
    background: #212121;
  }
  .cell2, .cell3, .cell4{
    height: 400px;
    overflow: hidden;
        padding: 0 50px;
  }
  .svchead, .cellhead{
    font-size: 40px;
    font-weight: bold;
  }
  .svcs, .cellpara{
  font-size: 20px;
  }
  .celll{
    width: 30%;
    text-align: left;
      padding: 30px 100px 0 100px;
  }
  .cellc{
      width: 30%;
    text-align: center;
      padding: 30px 100px 0 100px;
  }
  .cellr{
      width: 30%;
    text-align: right;
      padding: 30px 100px 0 100px;
  }

  .cell21{
      width: 30%;
      padding: 30px 100px 0 100px;
  }
  .cell31{
      width: 30%;
      padding: 30px 100px 0 100px;
  }
  .cell41{
    width: 30%;
    padding: 30px 100px 0 100px;
  }

  /*About page*/
  .sectiona{
      position: relative;
      width: 100%;
      height: 600px;
  }
  .paraa{
    font-size: 190px;
    padding: 0 0 0 100px;
  }
  .parab{
    font-size: 190px;
    color: #ffbd17;
    font-weight: bold;
  }

  .abtGrt{
    position: relative;
    left: 100px;
    top: 350px;
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
  }
  .sectionb{
    padding: 0 300px;
    font-size: 20px;
    line-height: 30px;
  }
  .sectionb p{
    text-align: left;
  }
  .sectionb img{
    width: 300px;
    height: 300px;
  }
  .unbold{
    margin-top: -80px;
    font-size: 120px;
  }
  .bold{
    margin-top: -150px;
    font-size: 120px;
    font-weight: bold;
  }
  .daymnd{
    position: relative;
    left: 100px;
    top: 50px;
    width: 250px;
    height: 250px;
  }
  .hbr{
    position: relative;
    top: -120px;
    right: -200px;
    background: black;
    color: #ffbd17;
    width: 500px;
    padding: 0 0 0 30px;
  }
  .vbr{
    position: relative;
    top: 50px;
    right: -400px;
    text-align: center;
    background: black;
    color: #ffbd17;
    transform: rotate(270deg);
    padding: 0 100px 0 0;
    width: 300px;
  }
  .rowa{
    display: flex;
    height: 350px;
  }
  .tablerow{
    table-layout: fixed;
  }
  .tablerow td{
    padding: 10px;
    width: 25%;
  }
  .circlea{
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #ffbd17;
    text-align: center;
  }
  .colc{
    position: absolute;
    width: 0;
  }
  .vbnd{
    background: black;
    color: white;
    transform: rotate(270deg);
    transform-origin: right bottom 0;
    position: relative;
    width: 300px;
    text-align: center;
    bottom: 120px;
    right: 120px;
  }
  .hbnd{
    position: relative;
    bottom: -150px;
    right: 111px;
    width: 500px;
    background: black;
    color: white;
    text-align: center;
  }
  #lastCell{
    vertical-align: top;
  }
  .cellmid{
    position: relative;
    margin-top: -50px;
    width: 0;
    right: 5%;
  }
  .cellmid img{
    position: relative;
    width: 200px;
    height: 200px;
    filter: invert(86%) sepia(16%) saturate(7083%) hue-rotate(345deg) brightness(106%) contrast(101%);
  }
  /*cookie policy page*/
  .rowfst, .onerow, .tworow{
    display: flex;
  }
  .dwn{
    width: 150px;
    position: relative;
    right: -35%;
    transform: rotate(45deg);
  }
  /* service page*/
  .imgHolder{
    vertical-align: bottom;
    width: 35%;
  }

  .sectionscnd{
    margin-top: -7px;
  }
  .toplow{
    font-size: 20px;
    color: white;
    line-height: 25px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .headerholder{
    padding-left: 100px;
  }
  .header{
    background: black;
    color: white;
      text-align: center;
      display: flex;
      padding-right: 100px;
  }
  .header span{
    width: 20%;
  }
  .contents{
    display: flex;
    color: black;
    font-size: 20px;
    margin: 20px 100px;
    justify-content: center;
  }
  .contentCell{
    text-align: center;
    width: 20%;
    line-height: 30px;
  }
  /*From the Services page - END*/

}

.logo, .logoo{
  width: 30%;
}
.logo a, .logoo a{
  color: white;
  text-transform: uppercase;
}
.nav{
  width: 10%;
}
.nav a{
  color: white;
  text-transform: uppercase;
}
.nav a:hover{
  font-weight: bold;
}
/*First section*/
.section1{
  position: relative;
  width: 100%;
  height: 700px;
  background: black;
  overflow: hidden;
}
.section1 img{
    width: 100%;
}
.welcome{
  top: 0;
  height: 700px;
  width: 100%;
  position: absolute;
  justify-content: center;
  text-align: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7)
}
.welcome p{
  color: white;
  font-size: 70px;
}
.wlcm{
  position: relative;
  margin-top: 150px;
  height: 100px;
  width: 100px;
}
.tpword{
    position: relative;
    top: 40%;
    font-weight: 1;
}
.btmword{
  position: relative;
  top: 30%;
  margin-top: 0;
font-weight: bold;
}
.section2, .section20{
  height: 600px;
  position: relative;
}
.section23{
  position: relative;

}
.row1{
  background: #ffbd17;
  width: 100%;
  height: 100%;
  display: flex;
}
.top{
  display: flex;
  height: 580px;
  justify-content: center;
}
.block1{
  color: white;
  position: absolute;
  width: 0;
  z-index: 2;
}
.blockparav{
  text-align: center;
  width: 400px;
  transform: rotate(-90deg);
  transform-origin: left bottom 0;
  background: black;
  position: relative;
  bottom: -580px;
  left: 100px;
}
.blockparah{
  text-align: center;
  width: 400px;
  background: black;
  position: absolute;
  bottom: -580px;
}
.block2{
  font-size: 80px;
  padding: 100px 200px;
  font-weight: bold;
}
.block3{
  position: relative;
  right: 10%;
  bottom: -40%;
  height: 0;
  }
.block3a{
  height: 130px;
  width: 130px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(294deg) brightness(99%) contrast(113%);
}

.bottom{
  position: relative;
  z-index: 2;
  background: black;
  color: white;
  margin-left: -100px;
  padding: 5px;
  width: 250px;
}
.topa{
    font-size: 50px;
    font-weight: bold;
}
.arc{
  transform: rotate(-20deg);
  margin-top: 50px;
  width: 150px;
  height: 150px;
  position: relative;
  right: 0%;
}
.rowOne{
  display: flex;
  width: 100%;
}
.low{
  display: flex;
}
.about{
  font-size: 50px;
  font-weight: bold;
  padding: 30px 100px 0 100px;
}
.blockb{
  position: absolute;
  right: 0;
  width: 100px;
  top: 0;
}
.vertical{
  transform: rotate(-90deg);
  transform-origin: top left 0;
  background: black;
  color: #ffbd17;
  width: 450px;
  position: relative;
  text-align: center;
  top: 440px;
}
.horizontal{
  position: relative;
  left: -200px;
  top: -60px;
  background: black;
  color: #ffbd17;
  width: 300px;
  text-align: center;
  z-index: 2;
}
.diamond{
  position: relative;
  bottom: 0%;
  padding:100px 0  0 100px;
}
.diamond img{
  width: 150px;
  height: 150px;
}
.para{
  font-size: 20px;
  margin: 0 150px 0 50px;
}

.rowTwo{
  display: flex;
  justify-content: center;
  height: 525px;
}
.blockbegining{
  color: black;
  position: absolute;
  width: 0;
  left: 0;
  z-index: 2;
}
.blockv{
  text-align: center;
  width: 400px;
  transform: rotate(-90deg);
  transform-origin: left bottom 0;
  background: #ffbd17;
  position: relative;
  bottom: -500px;
  left: 100px;
}
.blockh{
  text-align: center;
  width: 400px;
  background: #ffbd17;
  position: absolute;
  bottom: -500px;
}
.yelo{
  position: relative;
  top: 50px;
  left: 300px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: #ffbd17;
  z-index: 2;
}
.blk{
    position: relative;
    top: -80px;
    left: 400px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: black;
}
.probtm{
  margin-top: -50px;
  padding:0 100px;
}
.prof{
  position: relative;
  z-index: 3;
height: 190px;
width: 190px;
border-radius: 50%;
  top: 100px;
}
.name{
  font-size: 40px;
  font-weight: bold;
}
.profile{
  width: 700px;
  margin-top: -100px;
}
.protop{
  height: 350px;
}
.topimg{
  position: absolute;
  z-index: 2;
  height: 300px;
  width: 300px;
}
.smthng{
  margin-top: -40px;
  font-size: 30px;
  font-weight: bold;
}
.yellowed{
  width: 0;
  position: absolute;
}
.vyelo{
  padding: 5px;
  transform: rotate(90deg);
  position: relative;
  background: #ffbd17;
  top: 375px;
  width: 400px;
  right: -500px;
}
.hyelo{
  background: #ffbd17;
  width: 350px;
  position: relative;
  top: 520px;
  right: -420px;
  padding: 5px;
}
.section3{
  width: 100%;
  position: relative;
}
.section4{
  width: 100%;
  position: relative;
}
.frow, .srow{
  display: flex;
  justify-content: center;
  width: 100%;
}
.cell1{
  width: 100%;
  height: 400px;
  background: #e3e3e3;

}
.svchead{
  margin: 30px 450px 0 100px;
}
.svcs{
  margin: 30px 100px;
  max-width: 800px;
}
.srow{
  display: flex;
}

.cell11{
  width: 100%;
  height: 300px;
  background: #ffbd17;
  padding: 30px 450px 0 100px;
}
.blackedwds{
  background: #ffbd17;
}
.hblack{
  position: absolute;
  margin-top: -10px;
  right: 0px;
  color: white;
  background: black;
  width: 500px;
  text-align: center;
  z-index: 2;
}
.vblack{
  position: absolute;
  right: 0px;
  margin-top: 150px;
  transform: rotate(270deg);
  color: white;
  background: black;
  width: 320px;
  text-align: center;

}
.svchead1{
    font-size: 40px;
    font-weight: bold;
}
.cellhead1{
  font-size: 25px;
  font-weight: bold;
}
.svcs1{
  font-weight: bold;
  font-size: 25px;
}
.cellpara1{
font-size: 20px;
margin-top: 50px;
font-weight: bold;
}
.cellpara11{
  font-size: 20px;
  font-weight: bold;
}
.paras{
  margin-top: 50px;
}
.paras a{
  color: black;
}
.paras a:hover{
  font-weight: bold;
}
.cellm{
  position: relative;
  margin-top: -70px;
  width: 0;
  right: 8%;
}
.cellm img{
  position: relative;
  width: 150px;
  height: 150px;
}
.footer{
  width: 100%;
  justify-content: center;
  background: black;
  display: flex;
  color: white;
}

/*From the contact us page*/
.greet{
  position: absolute;
  z-index: 2;
  top: 0;
  height: 700px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
}
.para1{
  font-size: 150px;
  font-weight: bold;
}
.para2{
  margin-top: -200px;
  font-size: 120px;
  font-weight: bold;
  opacity: 0.1;
}
.para3{
  margin-top: -160px;
  font-size: 100px;
  font-weight: bold;
  opacity: 0.2;
}
.para4{
  margin-top: -135px;
  font-size: 75px;
  font-weight: bold;
  opacity: 0.15;
}
.para5{
  margin-top: -95px;
  font-size: 50px;
  font-weight: bold;
  opacity: 0.1;
}
.grt{
  position: absolute;
  height: 100px;
  width: 100px;
  bottom: 100px;
  right: 400px;
}
.startWord{
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
}
.sectionTwo{
  display: flex;
  height: 1000px;
  justify-content: center;
}
.contactForm{
  padding: 50px;
}
.uname, .email, .subject{
  border: 0;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 20px;
  padding: 5px;
  width: 400px;
  height: 30px;
}
.field1, .field2, .field3, .field4{
  padding: 20px  0px;
}
.lbl{
  font-size: 20px;
}
.hollow{
  width: 140px;
  height: 140px;
}
.graphics{
  padding: 100px;
  height: 800px;
  position: relative;
  width: 0px;
}
.dia{
  position: relative;
  margin-top: 50px;
  width: 140px;
  height: 140px;
}
.vb{
  position: relative;
  transform: rotate(-90deg);
  background: black;
  color: #ffbd17;
  width: 500px;
  bottom: -250px;
  left: -250px;
  z-index: 2;
  text-align: center;
}
.hb{
  padding: 0 100px 0 0;
  background: black;
  color: #ffbd17;
  width: 550px;
  position: relative;
  bottom: -470px;
  left: -200px;
  text-align: right;
}
/*From the contact us page - END*/

/*From the About us page*/
#aboutLogo{
  color: black;
  text-transform: uppercase;
}
.nabu a{
  color: black;
  text-transform: uppercase;
}
.aboutGreet{
  display: flex;
}
.cola{
  margin-left: 100px;
}
.sectionc{
  width: 100%;
}

.rowb{
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.hold{
  margin:auto;
  vertical-align: middle;
  text-align: center;
}
.one{
  margin-top: -8px;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.two{
  margin-top: -40px;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}
.three{
  margin-top: -20px;
  font-size: 23px;
  text-align: center;
}
.four{
  font-weight: bold;
  margin-top: -20px;
  font-size: 14px;
  text-align: center;
}
.desc{
  text-align: left;
  font-size: 15px;
  padding: 20px;
}
.absolutely_nothing{
  margin-top: 100px;
}
/*From the about us page - END*/
/*From the our work page*/
.start{
  position: absolute;
  z-index: 2;
  top: 0;
  height: 700px;
  width: 100%;
  background: rgba(255,189,23,0.8);
  text-align: left;
  color: black;
}
.high{
  font-size: 100px;
  margin-left: 100px;
  text-align: left;

}
.mid{
    margin-top: -110px;
    font-size: 100px;
    font-weight: bold;
    margin-left: 100px;
    width: 850px;
    display: flex;
}
.midl{
  margin-top: 0px;
  font-size: 100px;
  color: #ffbd17;
  font-weight: lighter;
}
.midb{
  margin-top: 0px;
  color: #ffbd17;
}
.base{
  text-align: left;
  margin-top: -80px;
  font-size: 30px;
  margin-left: 100px;
  width: 850px;
  line-height: 40px;

}


/* Slideshow container */
.slideshow-container {
  height: 70%;
}

/* Slides */
.mySlides {
  display: none;
  text-align: left;
}

/* Next & previous buttons */
.prev, .next {

    display: none;
  cursor: pointer;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 3;
}

/* Position the "next button" to the right */
.next {
  display: none;
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    height: 10px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}
/*end of slide show things*/

.sectionii{
  background: #2e2e2e;
  width: 100%;
}
.rowi{
  display: flex;
}
.coli{
  margin-left: 100px;
  font-size: 100px;
  color: #ffbd17;
}
.colii{
  color: #ffbd17;
  font-size: 100px;
  font-weight: bold;
}
.rowii{
  display: flex;
  justify-content: center;
}
.tablerowii{
    width: 100%;
        table-layout: fixed;
}
 td{
   text-align: center;
    width: 14%;
}
.tablerowii tr td img{
  width: 90%;
}

.colf, .cols, .colt, .colft{
filter: invert(67%) sepia(14%) saturate(18%) hue-rotate(318deg) brightness(95%) contrast(101%);
}
.sectioniii, .sectioniv{
  background: black;
}

.reel{
  margin-left: 100px;
  color: white;
  font-size: 100px;
  font-weight: bold;
}
.mond{
  width: 150px;
  position: relative;
  left: 20%;
}
.whited{
  position: absolute;
  right: 0;
}
.vw{
  transform: rotate(-90deg);
  background: white;
  color: black;
  text-align: center;
  position: absolute;
  top: 350%;
  width: 210px;
}
.hw{
  background: white;
  color: black;
  text-align: center;
  position: relative;
  bottom: -290px;
  width: 200px;
}
.showholder{
  height: 700px;
  overflow: hidden;
}
.show{
  width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.rl{
  position: relative;
  top: -140%;
  width: 100px;
  left: 45%;
  z-index: 3
}
.tworow{
  justify-content: center;
}
.tworow img{
  width: 24%;
  max-height: 300px;
  margin: 3px;
}
.below a{
  color: white;
}
/*From the our work page - END*/

/*From the cookie policy page */
.sectionfst{
  margin-top: 100px;
  line-height: 30px;
}
.sechead{
  font-size: 50px;
  font-weight: bold;
  padding:100px 100px;
  line-height: normal;
}
.secpara{
  padding: 0 100px;
}
.paraone{
  font-size: 20px;
}
.paraone a{
  color: black;
}
.paratwo{
  font-size: 30px;
    font-weight: bold;
}
/*From the cookie policy page - END*/

/*From the stories page */
.storygreet{
  position: absolute;
  display: flex;
  z-index: 2;
  top: 0;
  height: 700px;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  text-align: center;
  color: white;
}
.yb{
  position: relative;
}
.verty{
  position: absolute;
  bottom: 200px;
  width: 500px;
  background: #ffbd17;
  transform: rotate(-90deg);
  color: black;
  text-align: center;
}
.horry{
  position: absolute;
  top: 665px;
  width: 500px;
  background: #ffbd17;
  color: black;
  text-align: center;
}
.storygrt{
  position: relative;
  height: 100px;
  width: 100px;
  transform: rotate(180deg);
  left: 40%;
}

/*section 2 of stories*/
.sectionstart{
  margin-top: 100px;
}
.rowstart{
  display: flex;
  justify-content: center;
}
.colstart{
width: 450px;
margin: 40px;
}
.topstart{
  display: flex;
  height: 250px;
}
.sphold{
  background: black;
  text-align: center;
  min-width: 80px;
  overflow: hidden;
}
.startpara{
  transform: rotate(-90deg);
  color: white;
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  position: relative;
  bottom: -25%;
}
.startimg{
  width: 372px;
  position: relative;
}
.endpara{
  background: white;
  color: black;
  position: relative;
  right: 85px;
  top: -16px;
  padding: 5px 10px;
  font-weight: bold;
  height: 20px;
}
.endpara2{
  background: black;
  color: white;
  position: relative;
  right: 85px;
  top: -16px;
  padding: 5px 10px;
  font-weight: bold;
  height: 20px;
}
.endstart{
  padding: 5px 25px;
  background: #c9c9c9;
  margin: -50px 50px;
  position: relative;
}
.topend{
  font-size: 25px;
  font-weight: bold;
  height: 60px;
  overflow: hidden;
}
.paramid{
  font-size: 20px;
  line-height: 30px;
}
.socend{
  display: flex;
}
.sm{
  margin: 0 10px;
  color: black;
  font-weight: bold;
}
.thearc{
  width: 150px;
  height: 150px;
  margin-left: 29%;
}
.themond{
  position: relative;
  width: 150px;
  height: 150px;
  right: 29%;
}

/*footer section*/
.cellmd{
  position: absolute;
  left: 400px;
}
.cellmd img{
  margin-top: 100px;
  width: 200px;
  height: 200px;
  filter: invert(86%) sepia(16%) saturate(7083%) hue-rotate(345deg) brightness(106%) contrast(101%);
}
/*From the stories page - END*/

/*From the career page - END*/

.parabc{
  font-size: 190px;
  color: black;
  font-weight: bold;
}
.searchTable{
  width: 100%;
  background: #c9c9c9;
  border-bottom: 1px solid #707070;

}
.searchCell{
  text-align: center;
  width: 50%;
}
.search{
  width: 95%;
  height: 20px;
  padding: 10px;
  font-size: 20px;
}
.btnSearch{
  width: 100%;
  font-size: 30px;
  background: #ffbd17;
  border: 1px solid gray;
}
.filter{
  width: 100%;
  background: #e6e6e6;
  border-collapse: collapse;
  font-size: 15px;
}
.filterCell{
  border-right: 1px solid gray;
  width: 12%;
}
.final{
  border: 0;
}
.resultsTable{
    margin-top: 30px;
  width: 100%;
  border-bottom: 2px solid gray;
}
.hidden{
    margin-top: 50px;
}
.post{
  text-transform: uppercase;
}
.firm, .location{
  font-weight: bold;
}
.duration{
  color: #ffbd17;
  font-weight: bold;
}
.moreListings{
  margin-top: 100px;
  background: #e6e6e6;
  padding: 10px;
  font-weight: bold;
}
.moreListings:hover{
  -webkit-box-shadow: 1px 2px 10px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 10px -3px rgba(0,0,0,0.75);
box-shadow: 1px 2px 10px -3px rgba(0,0,0,0.75);

}
.Listings{
  color: black;
}
/*From the career page - END*/

/*From the Services page*/
.greetImg{
  position: relative;
  height: 500px;
}

.greetHolder{
  width: 65%;
  padding: 0 10% 0 0 ;
}
.services{
  position: relative;
  width: 100%;
  height: 700px;
  background: black;
  overflow: hidden;
  background: white;
}
.storygreet{
}
.tableService{
  height: 600px;
}
.servicer{
    position: absolute;
    display: flex;
    top: 0;
    height: 700px;
    width: 100%;
}
.higher{
  font-size: 100px;
  text-align: left;
  color: black;
}
.mider{
    margin-top: -110px;
    font-size: 100px;
    font-weight: bold;
    display: flex;
}
.midler{
  margin-top: 0px;
  font-size: 100px;
  color: black;
  font-weight: lighter;
}
.midber{
  margin-top: 0px;
  color: black;
}
.baser{
  text-align: left;
  margin-top: -80px;
  font-size: 30px;
  line-height: 40px;
  color: black;
}
.fstrow{
  display: flex;
  justify-content: center;
}
.piccell{
  width: 50%;
  height: 500px;
  overflow: hidden;
}
.piccell img{
  width: 100%;
}
#firstpic{
}
#secondpic{
  background: #2e2e2e;
}
#thirdpic{
}

 #thirdGraphica, #thirdGraphicb{
  width: 200px;
  height: 200px;
  position: relative;
  top: 25%;
  left: 35%;
    z-index: 2;
}
#thirdGraphic{
  width: 200px;
  height: 200px;
  position: relative;
  top: 25%;
  left: 35%;
    z-index: 2;
    filter: invert(97%) sepia(0%) saturate(7500%) hue-rotate(184deg) brightness(105%) contrast(105%);
}

#thirdGraphic1, #thirdGraphic11, #thirdGraphic111{
  position: absolute;
  width: 50%;
  z-index: -1;
}
#fourthpic{
  background: black;
}
.toptop{
  font-size: 50px;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
}
.topmid{
  margin-top: -50px;
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px;
}

.lowlow{
  display: flex;
  color: #ffbd17;
  font-size: 15px;
}
.lowfirst{
    margin-left: 40px;
    margin-right: 100px;
}
#topmid, #topmider{
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px;
}
.sectionthrd{
  background: #ffbd17;
  padding-bottom: 100px;
}
.lastword{
  font-size: 50px;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 50px 0 100px 0 ;
}
